@use "../base";
@use "../utils";

.dropDown {
  position: relative;
  @include utils.flexbox();

  &:hover {
    text-decoration: underline 1.8px white;
  }

  .buttonWrapper {

    
    .dropDownButton {
      @include utils.flexbox($alignItems: center, $justifyContent: center);
      gap: 5px;
      color: base.$white;
      background: none;
      border: none;
      font-family: "Overpass";
      font-weight: 600;
      font-size: 1.8rem;     
    
    }
  }

  .dropDownMenu {
    background-color: white;
    position: absolute;
    top: 25px;
    border-radius: 5px;
    @include utils.flexbox($direction: column);
    gap: 10px;
    width: 90px;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .subMenu {
      background: none;
      border: none;
      font-family: "Overpass";
      font-size: 1.6rem;

      &:hover {
        font-weight: 700;
      }
    }
  }

  
}
