@use "../base";
@use "../utils";

header {
  @include utils.flexbox($alignItems: center, $justifyContent: space-between);
  padding: 5rem 10rem 5rem 10rem;
  background-image: url("public/images/bg-pattern-intro-desktop.svg");
  background-position: center;
  background-color: aqua;
  h1 {
    font-family: "Ubuntu";
    font-weight: 700;
    color: base.$white;
    font-size: 4rem;
  }

  .navContainer {
    @include utils.flexbox();
    gap: 5rem;

    nav {
      @include utils.flexbox($alignItems: flex-end);
      gap: 2rem;
    }
  }

  .authContainer {
    @include utils.flexbox($alignItems: center);
    gap: 2rem;

    .loginButton {
      border: none;
      background: none;
      font-size: 1.7rem;
      font-family: "Ubuntu";
      font-weight: 500;
      color: base.$white;
    }
    .signupButton {
      font-size: 1.7rem;
      font-family: "Ubuntu";
      font-weight: 500;
      color: base.$lightRed;
      background-color: white;
      border: none;
      padding: 15px 45px 15px 45px;
      border-radius: 25px;
      transition: 0.2s linear;
      &:hover {
        background-color: hsl(355, 100%, 74%);
        color: white;
      }
    }
  }
}
