@use "../base";
@use "../utils";

header {
  position: relative;
  background-image: url("public/images/bg-pattern-intro-desktop.svg"),
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: center;
  border-bottom-left-radius: 100px;

  .navWrapper {
    @include utils.flexbox($justifyContent: flex-start, $alignItems: flex-end);
    padding: 5rem 10rem 5rem 10rem;
    gap: 2rem;

    h1 {
      font-family: "Ubuntu";
      font-weight: 700;
      color: base.$white;
      font-size: 4rem;
    }
  }
}
