@use "../base";
@use "../utils";

section {
  @include utils.flexbox($alignItems: center);

  .svgMobile {
    display: none;
  }
  .svgDesktop {
    position: relative;
    top: 50px;
    right: -300px;
    width: 200%;
    max-width: 900px;
  }

  .textContainer {
    position: relative;
    left: 80px;
    top: 30px;
    box-sizing: border-box;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

@media only screen and (max-width: 1430px) {
  section {
    @include utils.flexbox($justifyContent: space-between);
    gap: 5rem;

    .svgMobile {
      width: calc(70vw - 25px);
      display: block;
    }

    .svgDesktop {
      display: none;
    }

    .textContainer {
      top: 0;
    }
  }
}

@media only screen and (max-width: 950px) {
  section {
    @include utils.flexbox($direction: column-reverse);
    .svgMobile {
      width: 100%;
    }
    .textContainer {
      top: 0;
      left: 0;
    }
  }
}
