.sectionTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 38vh;
    background: url("public/images/bg-pattern-circles.svg") top -550px left calc(25% - 90px) no-repeat, linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%)); 
    border-radius: 0 100px 0px 100px;
    margin-top: 10rem;


}

@media only screen and (max-width: 950px) {
    
    .sectionTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20rem;
        height: auto;

        .textBox {
            position: relative;
            top: -200px
        }
    }
    .phone {
        position: relative;
        top: -220px
    }
  }
  