@use "../base";
@use "../utils";

.sectionOne {
  @include utils.flexbox($alignItems: center, $justifyContent: center);
  z-index: 5;
  background-color: white;
  width: 100vw;
  padding-bottom: 10rem;
  .svgMobile {
    display: none;
  }
  .svgDesktop {
    position: relative;
    top: 50px;
    right: -300px;
    width: 200%;
    max-width: 900px;
  }

  .textContainer {
    position: relative;
    left: 80px;
    top: 30px;
    box-sizing: border-box;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

@media only screen and (max-width: 1430px) {
  .sectionOne {
    @include utils.flexbox($justifyContent: space-between);
    gap: 5rem;
    padding-bottom: 5rem;
    .svgMobile {

      display: block;
    }

    .svgDesktop {
      display: none;
    }

    .textContainer {
      top: 0;
    }
  }
}

@media only screen and (max-width: 950px) {
  .sectionOne {
    @include utils.flexbox($direction: column-reverse, $alignItems: center);
    padding-bottom: 30rem;
    .svgMobile {
      width: 100%;
    }
    .textContainer {
      top: 0;
      left: 0;
    }
  }
}
