@use "../base";
@use "../utils";

.sectionTwo {
  @include utils.flexbox($justifyContent: center, $alignItems: center);
  position: relative;
  width: 100vw;
  height: 38vh;
  background: url("public/images/bg-pattern-circles.svg") top -550px left calc(25% - 90px) no-repeat,
    linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-radius: 0 100px 0px 100px;
  margin-top: 20rem;

  .phone {
    position: relative;
    top: -30px;
  }
}

@media only screen and (max-width: 950px) {
  .sectionTwo {
    @include utils.flexbox($direction: column, $justifyContent: center, $alignItems: center);
    height: auto;
    background: url("public/images/bg-pattern-circles.svg") top -550px left 50% no-repeat,
      linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    margin-top: 5rem;
    .phone {
      position: absolute;
      top: -150px;
    }

    .textBox {
      margin-top: 40rem;
    }
  }
}
