@use "../base";
@use "../utils";

header {
  position: relative;
  background-image: url("../../../public/images/bg-pattern-intro-desktop.svg"),
  linear-gradient(
    90deg,
    hsl(13deg 100% 72%) 0%,
    hsl(11deg 100% 71%) 8%,
    hsl(10deg 100% 70%) 17%,
    hsl(8deg 100% 69%) 25%,
    hsl(6deg 100% 69%) 33%,
    hsl(4deg 100% 68%) 42%,
    hsl(3deg 100% 67%) 50%,
    hsl(1deg 100% 66%) 59%,
    hsl(360deg 100% 65%) 67%,
    hsl(358deg 100% 65%) 75%,
    hsl(356deg 100% 64%) 83%,
    hsl(355deg 100% 63%) 92%,
    hsl(353deg 100% 62%) 100%
  );;
  background-position: center;
  border-bottom-left-radius: 100px;

  .navWrapper {
    @include utils.flexbox($justifyContent: flex-start, $alignItems: flex-end);
    padding: 5rem 10rem 5rem 10rem;
    gap: 2rem;

    h1 {
      font-family: "Ubuntu";
      font-weight: 700;
      color: base.$white;
      font-size: 4rem;
    }

    .menuButton {
      background: none;
      border: none;
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  header {
    .navWrapper {
      @include utils.flexbox($justifyContent: space-between);
      padding: 5rem 2.5em 5rem 2.5rem;

      .menuButton {
        display: block;
      }
    }
  }
}
